<div class="row" [ngClass]="{'d-none': chatBotHide }">
  <div style="position: fixed; bottom: 0px; right:450px" [ngClass]="resize?'col-4':'col-3'">
    <div class=" card card-user">
      <div class="card-header pb-2">
        <div class="row">
          <div class="col-2" >
            <img class="rounded-circle" style="height:55px"
              [src]="chatedUser ? imgPath + chatedUser.userImage : imgPath + 'upload.png'" alt="Targated User">
            <div class="user-state "
              [ngClass]="chatedUser ? (chatedUser.online ? 'user-active' : 'user-disable') : 'user-disable'">
            </div>
          </div>
          <div class="col-10 p-0 m-0 pr-2" style="margin-left:-20px;">
            <h4 class="card-title m-0 p-0" >{{chatedUser ? chatedUser.name : 'User Name'}}
              <div style="cursor: pointer;" class="float-right ">
                <h4 class="float:right;">
                  <span class="tim-icons icon-trash-simple pr-3 text-warning" tooltip="Delete Conversesion"></span>
                  <span [ngClass]="{'icon-minimal-up': minimize, 'icon-minimal-down ': !minimize}"
                    (click)="minimize = !minimize;" class="tim-icons pr-3"></span>
                    <span class="tim-icons icon-mobile pr-3 text-success" [ngClass]="resize ? 'icon-tv-2': 'icon-mobile'"
                    (click)="resize = !resize"></span>
                  <span class="tim-icons icon-simple-remove pr-3 text-danger" (click)="openCloseChat()"></span>
                </h4>
              </div>
            </h4>
            <h5 class="card-title m-0 p-0">{{chatedUser ? chatedUser.businessName : 'Business Name'}}</h5>
          </div>
        </div>
      </div>
      <!-- show Hide Toggle  -->
      <div class="card-body  border-bottom border-top" style="overflow-y: auto;" [style.height]="resize ? '570px': '450px' "
        [ngClass]="{'d-none': minimize }">
        <div class="row mb-1">
          <div class="col-12" *ngIf="myChats">
            <span *ngFor="let chat of myChats" [ngClass]="chat.userA === user.id ? 'float-left': 'float-right'">
              <div class="alert alert-primary p-2 float-left" style="min-height: 60px; clear:both"
                [ngClass]="chat.userA === user.id ? 'alert-primary' : 'alert-info'" role="alert">
                <table style="min-width: 350px;">
                  <tr>
                    <td *ngIf="chat.userA === user.id " style="width: 50px;">
                      <img class="rounded-circle m-0 mr-3" style="height:40px; width:40px" alt="Targated User"
                        [src]="chat.userA === user.id ? imgPath + user.userImage : imgPath + chatedUser.userImage ">
                    </td>
                    <td>
                      <h4 class="alert-heading m-0 p-0"> {{chat.userA === user.id ? user.name : chatedUser.name }}
                      </h4>
                      <span> {{chat.message}}</span>
                    </td>
                    <td *ngIf="chat.userA !== user.id " style="width: 50px;">
                      <img class="rounded-circle m-0 float-right" style="height:40px; width:40px" alt="Targated User"
                        [src]="chat.userA === user.id ? imgPath + user.userImage : imgPath + chatedUser.userImage ">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="min-width:200px;">
                      <span *ngIf="chat.userA === user.id " (click)="deleteChat(chat.id)"
                        class="text-info tim-icons icon-simple-remove float-right" style="cursor:pointer"></span>
                      <span *ngIf="chat.userA === user.id " class="float-right pr-3">
                        {{computeDuration(chat.date)}}</span>
                      <span *ngIf="chat.userA !== user.id " (click)="deleteChat(chat.id)"
                        class="tim-icons icon-simple-remove text-danger" style="cursor:pointer"></span>
                      <span *ngIf="chat.userA !== user.id " class="pl-3"> {{computeDuration(chat.date)}}</span>
                    </td>
                  </tr>
                </table>
              </div>
              <br>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer" [ngClass]="{'d-none': minimize }">
        <div class="input-group">
          <button class="btn pr-3 pl-3"
            style="border-top-right-radius: 0; border-bottom-right-radius: 0;  margin-top: 0px;">
            <span class="tim-icons icon-attach-87" style="font-size: 16px;"></span>
          </button>
          <input type="text" class="form-control" [formControl]="chatMessage" placeholder="your Message"
            style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-right:0px">
          <button class="btn pr-3 pl-3" (click)="sendChat()"
            style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
            <span class="tim-icons icon-send" style="font-size: 16px;"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
