<!-- <div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class=" card card-user">
        <div class="card-header">
          <a href="javascript:void(0)">
            <img alt="..." class=" avatar" [src]="user.image" />
            <h5 class="card-title">{{user.userName}} </h5>
            <p class=" card-title"> {{user.businessName}} </p>
          </a>
        </div>
        <div class="card-body">


        </div>
        <p for="descrition" class="mt-0 mb-0" style="text-align: justify; font-size: xx-small;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{user.complain}}</p>
      </div>
      <div class=" card-footer">
        <div class=" button-container">
          <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
            <i class=" fab fa-facebook"> </i>
          </button>
          <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
            <i class=" fab fa-twitter"> </i>
          </button>
          <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
            <i class=" fab fa-google-plus"> </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
