<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class=" card card-user">
        <div class="card-header">
          <div class="row">
            <div class="col-2"><img class="img-thumbnail" style="height:50px"
                src="../../../assets/img/angular2-logo-white.png" alt=""></div>
            <div class="col-8">
              <h4 class="card-title">Business Name</h4>
              <h5>Last Seen Date Time</h5>
            </div>
            <div class="col-2">
              - X
              Options>Delete Chat, Report User, Block User, Safety Tips, Turn On Safety Tips

            </div>
            <div class="col-12">
              <h5>Agenda / Product Discussion</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6>Date Wise Conversession</h6>
          <p>Time Wise & User Wise Display</p>
          <div class="row">
            <div class="col-md-12">
              <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
              <p>Hey! I'm fine. Thanks for asking!</p>
              <span class="time-left">11:01</span>
            </div>

          </div>
        </div>
      </div>
      <div class=" card-footer">
        <div class=" button-container">
          <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
            <i class=" fab fa-facebook"> </i>
          </button>
          <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
            <i class=" fab fa-twitter"> </i>
          </button>
          <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
            <i class=" fab fa-google-plus"> </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
