<div class="content">
  <div class="row">
    <div *ngFor="let prod of products" class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title float-left">
            <a href="#">{{prod.id}}</a> {{prod.productTitle}}
          </h4>
          <img data-toggle="tooltip" data-placement="top" title="Featured" *ngIf="prod.featured"
            style="height:35px; width:35px;" class="float-right" src="../../../assets/img/Featured.png">
        </div>
        <img class="card-img-top ml-3 float-left" style="width:75px; height:75px;" [src]="prod.image"
          alt="Card image cap">
        <h6 class="card-title mb-2 mr-3" style="font-size:18px; margin-top:-20px">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
            <span class="tim-icons icon-trash-simple float-right"></span>
          </a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
            <span class="tim-icons icon-pencil float-right mr-2"></span>
          </a>
        </h6>
        <div class="card-body" style="position: relative;">
          <h6 class="card-title mb-2"> Categories
            <!-- Pending -->
            <span *ngFor="let category of prod.productCategory; let l = last; let f = first" class="float-right">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb card-title" style="background: none; padding: 0px; margin: 0px;">
                  <li class="breadcrumb-item"><a>Home</a></li>
                  <li class="breadcrumb-item"><a>Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
              </nav>
            </span>
          </h6>
          <h6 class="card-title mb-2"> Stock <span class="float-right">{{prod.stock}}</span> </h6>
          <h6 class="card-title mb-2"> Sale <span class="float-right">{{prod.sale}}</span></h6>
          <h6 class="card-title mb-2"> Whole Sale Rate <span class="float-right">{{prod.wholeSaleRate}}</span></h6>
          <h6 class="card-title mb-2"> Retail Rate<span class="float-right">{{prod.retailRate}}</span></h6>
          <h6 class="card-title mb-2"> Tex GST %age<span class="float-right">{{prod.tex}}</span></h6>
          <h6 class="card-title mb-2"> Shipmnet Charges <span class="float-right">{{prod.shipmentCharges}}</span></h6>
          <h6 id="descrition" class="card-title mb-2">Description</h6>
          <p for="descrition" class="mt-0 mb-0" style="text-align: justify; font-size: xx-small;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{prod.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
