<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <form [formGroup]="product" (ngSubmit)="updateProduct()">
          <div class=" card-header">
            <h2 class="card-title">Add Products</h2>
          </div>
          <div class="card-body">
            <div class=" row">
              <div class=" col-md-4">
                <div class=" form-group">
                  <label> ID (disabled) </label>
                  <input class=" form-control" required formControlName="id" placeholder="Company" type="text"
                    value="101" />
                </div>
              </div>
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Product Title </label>
                  <input class=" form-control" required formControlName="productTitle" placeholder="Product Name"
                    type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Product Category </label>
                  <input class=" form-control" required formControlName="category" type="text" placeholder="Car, Mobiles, PC" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label>Stock</label>
                  <input class="form-control" required formControlName="stock" type="number" value="500" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label>Sale</label>
                  <input class="form-control" required formControlName="sale" type="number" value="200" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Whole Sale Rate</label>
                  <input class=" form-control" required formControlName="wholeSaleRate" placeholder="50.5" type="number" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Retail Rate</label>
                  <input class=" form-control" required formControlName="retailRate" placeholder="60" type="number" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Shipment Charges</label>
                  <input class=" form-control" required formControlName="shipmentCharges" placeholder="50.5" type="number" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Tex Rate</label>
                  <input class=" form-control" required formControlName="tex" placeholder="60" type="number" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class=" form-group">
                  <label> Product Image</label>
                  <div class="input-group">
                    <label class="form-control" for="productImage">Choose file</label>
                    <input type="file" required formControlName="productImage" id="productImage">
                    <label class="form-control" for="galleryImage"></label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class=" form-group">
                  <label> Gallery Image</label>
                  <div class="input-group">
                    <label class="form-control" for="galleryImage">Choose file</label>
                    <input type="file" required formControlName="galleryImage" id="galleryImage">
                    <label class="form-control" for="galleryImage"></label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <div class=" form-check">
                  <label for="feature" class=" form-check-label">
                    <input class="form-control  form-check-input" type="checkbox" formControlName="featured" id="feature" />
                    <span class=" form-check-sign">
                      <span class=" check"> Mark Your Product as Featured </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description</label>
                  <textarea class="form-control" formControlName="description" style="width: 100%; max-width: 100%;"
                    placeholder="Here can be your description" rows="10"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class=" card-footer">
            <div class="btn-group " role="group" aria-label="Basic example">
              <button class=" btn btn-fill btn-secondary" type="submit">
                New
              </button>
              <button class=" btn btn-fill btn-secondary" type="submit">
                Update
              </button>
              <button class=" btn btn-fill btn-secondary text-danger" type="submit">
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-12">
        uploaded image preview
      </div>
      <div class="col-md-12">
        uploaded Image2 Preview
      </div>
    </div>

  </div>
</div>
