<div class=" content">
  <form [formGroup]="productForm">
    <div class=" row">
      <div class=" col-12">
        <div class=" card">
          <div class=" card-header">
            <h2 class=" card-title">
              <span class="tim-icons icon-app text-danger"></span>
              Add Products
            </h2>
          </div>
          <div class="card-body">
            <div class=" row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Product ID </label>
                  <div class="input-group">
                    <input formControlName="id" type="number" (keyup.enter)="getProduct()" class="form-control"
                      placeholder="Search by ID">
                    <button type="button" class="btn pr-3 pl-3" (click)="getProduct()"
                      style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                      <span class="tim-icons icon-zoom-split" style="font-size:16px"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class=" form-group">
                  <label> Product Title </label>
                  <input class=" form-control" required formControlName="productTitle" placeholder="Product Name"
                    type="text" />
                </div>
              </div>
              <div class="col-md-4">
                <div class=" form-group">
                  <label>Stock</label>
                  <input class="form-control" formControlName="stock" type="number" value="500" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Product Category </label>
                  <div class=" input-group">
                    <input class=" form-control" formControlName="productTypeId" disabled type="text"
                      placeholder="Car, Mobiles, PC" />
                    <button type="button" class="btn pr-3 pl-3" (click)="open(productCategorys)"
                      style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                      <span class="tim-icons icon-molecule-40" style="font-size:16px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Product Image </label>
                  <div class=" input-group">
                    <input class=" form-control" formControlName="productImage" disabled type="text"
                      placeholder="angular.png" />
                    <button type="button" class="btn pr-3 pl-3" (click)="open(productImages)"
                      style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                      <span class="tim-icons icon-image-02" style="font-size:16px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Product Gallery Image </label>
                  <div class=" input-group">
                    <input class=" form-control" formControlName="galleryImage" disabled type="text"
                      placeholder="angular.png" />
                    <button type="button" class="btn pr-3 pl-3" (click)="open(galleryImages)"
                      style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                      <span class="tim-icons icon-image-02" style="font-size:16px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class=" form-group">
                  <label>Sale</label>
                  <input class="form-control" formControlName="sale" type="number" value="200" />
                </div>
              </div>
              <div class="col-md-4">
                <div class=" form-group">
                  <label> Whole Sale Rate</label>
                  <input class=" form-control" formControlName="wholeSaleRate" placeholder="50.5" type="number" />
                </div>
              </div>
              <div class="col-md-4">
                <div class=" form-group">
                  <label> Retail Rate</label>
                  <input class=" form-control" formControlName="retailRate" placeholder="60" type="number" />
                </div>
              </div>
              <div class="col-md-4">
                <div class=" form-group">
                  <label> Shipment Charges</label>
                  <input class=" form-control" formControlName="shipmentCharges" placeholder="50.5" type="number" />
                </div>
              </div>

              <div class="col-md-4">
                <div class=" form-group">
                  <label> Tex Rate</label>
                  <input class=" form-control" formControlName="tex" placeholder="60" type="number" />
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <div class=" form-check">
                  <label for="feature" class=" form-check-label">
                    <input class="form-control  form-check-input" type="checkbox" formControlName="featured"
                      id="feature" />
                    <span class=" form-check-sign">
                      <span class=" check"> Mark Your Product as Featured </span>
                    </span>
                  </label>
                </div>
              </div>
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description</label>
                  <textarea class="form-control" formControlName="description" style="width: 100%; max-width: 100%;"
                    placeholder="Here can be your description" rows="10"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="btn-group " role="group" aria-label="Basic example">
                  <button class=" btn btn-secondary" type="button">
                    New
                  </button>
                  <button class=" btn btn-secondary" type="button">
                    Update
                  </button>
                  <button class=" btn btn-secondary" type="button">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #productCategorys let-modal>
      <div class="card" style="margin-bottom: -75px;">
        <div class="card-header">
          <h4 class="card-title">Product Cateogry
            <span class="tim-icons icon-simple-remove float-right text-danger" (click)="modal.close('Save click')"
              style="cursor:pointer"></span>
          </h4>
        </div>
        <app-product-category-hiarchy (prodCategoryId_Name)="prodCategoryId_Name($event)">
        </app-product-category-hiarchy>
        <div class="card-footer">
          <h4 class="card-title ml-2 text-info">
            <!-- (click)="modal.close('Save click')" -->
            <button type="button" class="btn" style="margin-top: -18px; margin-right: 20px; float: right;">Select
              Category</button>
            {{ selectedResult }}
          </h4>
        </div>
      </div>
    </ng-template>
    <ng-template #productImages let-modal>
      <div class="card" style="margin-bottom: -75px;">
        <div class="card-header">
          <h4 class="card-title">Uploaded Product Image
            <span class="tim-icons icon-simple-remove float-right text-danger" (click)="modal.close('Save click')"
              style="cursor:pointer"></span>
          </h4>
        </div>
        <app-image-card (fileName_File)="fileName_File($event, 1)"></app-image-card>
      </div>
    </ng-template>
    <ng-template #galleryImages let-modal>
      <div class="card" style="margin-bottom: -75px;">
        <div class="card-header">
          <h4 class="card-title">Uploaded Gallery Image
            <span class="tim-icons icon-simple-remove float-right text-danger" (click)="modal.close('Save click')"
              style="cursor: pointer"></span>
          </h4>
        </div>
        <app-image-card (fileName_File)="fileName_File($event, 2)"></app-image-card>
      </div>
    </ng-template>
  </form>
</div>
