<div class=" content">
  <div class=" row mt-5">
    <div class="col-md-4 col-sm-1"></div>
    <div class="col-md-4 col-sm-10">
      <div class=" card">
        <form [formGroup]="user" (ngSubmit)="signIn()">
          <div class=" card-header">
            <h4 class=" title">Sign In</h4>
          </div>
          <div class="card-body">
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> User Name</label>
                  <input class=" form-control" required formControlName="userName" placeholder="furqanmajidenterprise"
                    type="text" />
                </div>
              </div>
              <div class="col-md-12">
                <div class=" form-group">
                  <label> Password</label>
                  <input class=" form-control" required formControlName="password" placeholder="*******"
                    type="password" />
                </div>
              </div>
            </div>
          </div>
          <div class=" card-footer">
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <div class="btn-group float-right" style="margin-top:-20px" role="group" aria-label="Basic example">
                    <button [disabled]="user.invalid" class=" btn btn-fill btn-secondary f-r" type="submit">
                      Submit
                    </button>
                  </div>
                  <label class="mt-3">Create an account
                    <a [routerLink]="['/auth/sign-up']" style="display:inline">
                      Sign Up
                    </a>
                    &nbsp; | &nbsp;
                    <a [routerLink]="['/auth/forget-password']" style="display:inline">
                      Forget Password
                    </a>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
