.form-control.ng-touched.ng-invalid:focus {
  border: 2px solid red;
}
.form-control.ng-touched.ng-invalid {
  border-left: 5px solid red !important;
}
.form-control.ng-touched.ng-valid:focus {
  border: 2px solid green;
}
.form-control.ng-touched.ng-valid {
  border-left: 5px solid green;
}
.form-group {
  margin-top: 10px;
}

.productCategory{
  list-style-type:none;
  padding:5px;
  cursor: pointer;
}
.productCategory:hover{
  background-color: rgba(128, 128, 128, 0.301);
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}
.productCategory:not(:hover){
  background-color: none;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 600ms linear;
}
