<div class=" content">
  <div class=" row">
    <!-- Product Category Form -->
    <div class=" col-md-8">
      <div class=" card">
        <form [formGroup]="productCategoryForm">
          <div class=" card-header">
            <h2 class="card-title">
              <span class="tim-icons icon-molecule-40 text-danger"></span>
              Product Cateogory Form
            </h2>
          </div>
          <div class="card-body" style="height:650px">
            <div class=" row">
              <div class=" col-md-12">
                <div class="input-group">
                  <input formControlName="id" type="number" (keyup.enter)="getProductCategory()" class="form-control"
                    placeholder="Search by ID">
                  <button type="button" class="btn pr-3 pl-3" (click)="getProductCategory()"
                    style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                    <span class="tim-icons icon-zoom-split" style="font-size:16px"></span>
                  </button>
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Category </label>
                  <input class=" form-control" required formControlName="category" placeholder="Electronics"
                    name="cateogory" type="text" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <label> Product Category </label>
                  <div class=" input-group">
                    <input class=" form-control" formControlName="pId" disabled type="text"
                      placeholder="Car, Mobiles, PC" />
                    <button type="button" class="btn pr-3 pl-3" (click)="open(content)"
                      style="border-top-left-radius: 0; border-bottom-left-radius: 0;  margin-top: 0px;">
                      <span class="tim-icons icon-molecule-40" style="font-size:16px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description</label>
                  <input class=" form-control" required formControlName="description" type="text" name="description"
                    placeholder="Computer, Teblets, LCD, LED" />
                </div>
              </div>
              <div class="col-12">
                <p class="card-title" [ngClass]="isError? 'text-danger':'text-success'" [innerText]="errMessage">
                </p>
              </div>
              <div class="col-12">
                <div class="btn-group " role="group" aria-label="Basic example">
                  <button class=" btn  btn-secondary" (click)="insert()" type="button">
                    New
                  </button>
                  <button class=" btn btn-secondary" (click)="update()" type="button">
                    Update
                  </button>
                  <button class=" btn btn-secondary" (click)="delete()" type="button">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class=" card-footer">
            form footer
          </div>
        </form>
      </div>
    </div>
    <!-- Product Category List View -->
    <div class="col-md-4">
      <div class=" card">
        <div class=" card-header">
          <h2 class="card-title">
            <span class="tim-icons icon-refresh-02 text-danger" (click)="refereshProductCategory()"
              style="cursor:pointer"></span>
            List View
          </h2>
        </div>
        <div class="card-body" style="height:650px !important; overflow-y: auto;">
          <table class="table table-fluid" style="font-size:14px">
            <thead>
              <tr class="bg-primary card-title" style="margin-top:20px;">
                <th style="width:40px; text-align: center;">ID</th>
                <th style="width:200px;">Prod Cat</th>
                <th style="width:150px;">P ID</th>
                <th style="text-align:center;">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cateogories of productCategories" (click)="editProductCategory(cateogories)"
                class="productCategory">
                <td class="card-title p-2" style="text-align:center;">{{cateogories.id}}</td>
                <td class="card-title p-2" style="text-align:left;">{{cateogories.category}} </td>
                <td class="card-title p-2" style="text-align:left;">{{cateogories.pId}} </td>
                <td class="card-title p-2" style="text-align:left; padding-right:5px">{{cateogories.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          my Footer
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal style="background-color:red;">
  <div class="card" style="margin-bottom: -75px;">
    <div class="card-header">
      <h4 class="card-title">Product Cateogry
        <span class="tim-icons icon-simple-remove float-right text-danger" (click)="modal.close('Save click')"
          style="cursor:pointer"></span>
      </h4>
    </div>
    <app-product-category-hiarchy (prodCategoryId_Name)="prodCategoryId_Name($event)">
    </app-product-category-hiarchy>
    <div class="card-footer">
      <h4 class="card-title ml-2 text-info">
        <!-- (click)="modal.close('Save click')" -->
        <button type="button" class="btn" style="margin-top: -18px; margin-right: 20px; float: right;">Select
          Category</button>
        {{ selectedResult }}
      </h4>
    </div>
  </div>
</ng-template>
