<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Product List</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-danger">
                <tr>
                  <th width="90px">ID</th>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Stock</th>
                  <th>Sale</th>
                  <th>Whole Sale Rate</th>
                  <th>Retail Rate</th>
                  <th>Tex</th>
                  <th>Shipment Charges</th>
                  <th>Description</th>
                  <th>Image</th>
                  <!-- Featured Product Color will be Blue  -->
                </tr>
              </thead>
              <tbody>
                <tr style="background-image: linear-gradient(0deg, rgba(255, 217, 0, 0.719), rgba(0, 255, 149, 0.589));">
                  <td>
                    101
                    <a href="#"><span class="tim-icons icon-pencil" style="margin-left:5px"></span></a>
                    <a href="#"><span class="tim-icons icon-trash-simple" style="margin-left:5px"></span></a>
                    <!-- <a href="#"><span class="tim-icons icon-simple-add"></span></a> -->
                  </td>
                  <td>Pepsi</td>
                  <td>Drink</td>
                  <td>20</td>
                  <td>10</td>
                  <td class="text-right">{{50 | currency:'USD'}}</td>
                  <td class="text-right">{{55 | currency:'USD'}}</td>
                  <td class="text-right">17 %</td>
                  <td class="text-right">5 %</td>
                  <td class="text-justified">Yet Not Defined</td>
                  <td class="text-justified"> <img src="../../../assets/img/angular2-logo-red.png" width="80px" alt="">
                  </td>
                </tr>
                <tr>
                  <td>
                    102
                    <a href="#"><span class="tim-icons icon-pencil" style="margin-left:5px"></span></a>
                    <a href="#"><span class="tim-icons icon-trash-simple" style="margin-left:5px"></span></a>
                    <!-- <a href="#"><span class="tim-icons icon-simple-add"></span></a> -->
                  </td>
                  <td>Lays</td>
                  <td>Food</td>
                  <td>50</td>
                  <td>30</td>
                  <td class="text-right">{{100 | currency:'USD'}}</td>
                  <td class="text-right">{{90 | currency:'USD'}}</td>
                  <td class="text-right">17 %</td>
                  <td class="text-right">5 %</td>
                  <td class="text-justified">Yet Not Defined</td>
                  <td class="text-justified"> <img src="../../../assets/img/angular2-logo-white.png" width="80px" alt="">
                  </td>
                </tr>
                <tr>
                  <td>
                    103
                    <a href="#"><span class="tim-icons icon-pencil" style="margin-left:5px"></span></a>
                    <a href="#"><span class="tim-icons icon-trash-simple" style="margin-left:5px"></span></a>
                    <!-- <a href="#"><span class="tim-icons icon-simple-add"></span></a> -->
                  </td>
                  <td>Wavy</td>
                  <td>Food</td>
                  <td>70</td>
                  <td>80</td>
                  <td class="text-right">{{90 | currency:'USD'}}</td>
                  <td class="text-right">{{80 | currency:'USD'}}</td>
                  <td class="text-right">17 %</td>
                  <td class="text-right">5 %</td>
                  <td class="text-justified">Hmm...</td>
                  <td class="text-justified"> <img src="../../../assets/img/anime6.png" width="80px" alt="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
