<div class=" content">
  <div class=" row mt-5">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
      <div class=" card">
        <form [formGroup]="user" (ngSubmit)="changePassword()">
          <div class=" card-header">
            <h4 class=" title">Change Password (User Name)</h4>
          </div>
          <div class="card-body">
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Password</label>
                  <input class=" form-control" required formControlName="password" placeholder="*******"
                    type="password" />
                </div>
              </div>
              <div class="col-md-12">
                <div class=" form-group">
                  <label>Confirm Password</label>
                  <input class=" form-control" required formControlName="confirmPassword" placeholder="*******"
                    type="password" />
                </div>
              </div>
            </div>
          </div>
          <div class=" card-footer">
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <button [disabled]="user.invalid" class=" btn btn-fill btn-secondary f-r" type="submit">
                    Change
                  </button>
                </div>
                then automatically redirect to sign in page
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
