<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="http://vendor.zaroraat.pk" class="simple-text logo-normal">
    Zaroorat
  </a>
</div>
<style>
  ul>li>a>p{
    font-size: 15px;
  }
  ul>li, ul>li>a, ul{
    margin-left: 0px;
  }
</style>
<div class="sidebar-wrapper">
  <ul class="nav" >
    <button (click)="switchinguser()" >Switch User</button>
  <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li> -->
    <li routerLinkActive="active"class="nav-item">
      <a [routerLink]="['/portal/dashboard']">
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active"class="nav-item">
      <a [routerLink]="['/portal/order-&-review']">
        <i routerLinkActive="active"  class="tim-icons icon-chart-bar-32"></i>
        <p>Orders & Reviews</p>
      </a>
    </li>
    <li *ngIf="currentUser == 'admin'" routerLinkActive="active" class="nav-item">
      <a [routerLink]="['/portal/product-category']">
        <i class="tim-icons icon-molecule-40"></i>
        <p>Product Category</p>
      </a>
    </li>
    <li routerLinkActive="active"class="nav-item">
      <a [routerLink]="['/portal/add-product']">
        <i class="tim-icons icon-vector"></i>
        <p>Add Products</p>
      </a>
    </li>
    <li routerLinkActive="active"class="nav-item">
      <a [routerLink]="['/portal/product-list']">
        <i class="tim-icons icon-vector"></i>
        <p>Product List</p>
      </a>
    </li>

    <li *ngIf="currentUser == 'admin'" routerLinkActive="active" class="nav-item">
      <a [routerLink]="['/portal/add-user']">
        <i class="tim-icons icon-single-02"></i>
        <p>Add User</p>
      </a>
    </li>
    <li *ngIf="currentUser == 'admin'" routerLinkActive="active" class="nav-item">
      <a [routerLink]="['/portal/user-list']">
        <i class="tim-icons icon-single-02"><i class="tim-icons icon-single-02"></i></i>
        <p>User List</p>
      </a>
    </li>
    <li *ngIf="currentUser == 'admin'" routerLinkActive="active" class="nav-item">
      <a [routerLink]="['/portal/wallet']">
        <i class="tim-icons icon-wallet-43"></i>
        <p>User List</p>
      </a>
    </li>
  </ul>
</div>
